= simple_form_for @post do |f|
  .form-group.row
    = f.input :image, label: "Zdjęcie: "
  .form-group.row
    = f.input :title, label: "Tytuł: "
  .form-group.row
    = f.input :description, label: "Opis: "
  .form-group.row
    = f.button :submit, "Dodaj"
